# fprime items
logs/
cmake-build-*
build-artifacts/
build-artifacts-*
build-fprime-*
*-template
*.template.cpp
*.template.hpp

# Misc
/bin/
/venv/
/fprime-venv/
/fprime-venv-docker/
/.cache-docker/
/.idea/
/.vscode/
.DS_Store
*.gcov
